<!doctype html>
<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kristi Leach | Welcome</title>
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <!-- Start Top Bar -->
        <div class="grid-container fluid">
            <div class="grid-x grid-margin-x">
                <div class="small-10 small-offset-1 cell">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="menu">
                                <li class="menu-text">
                                    <h2>
				        Kristi Leach
				    </h2>
                                </li>
			        <li>
			   	    <a href="https://www.behance.net/kristileach" target="_blank">Behance</a>	
			       	</li>
			        <li>
			   	    <a href="https://www.linkedin.com/in/kristileach" target="_blank">LinkedIn</a>	
			       	</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->
        <div class="grid-container fluid">
            {{ content }}
        </div>
        <hr />
        <footer class="grid-container fluid">
            <div class="grid-x grid-margin-x">
                <div class="large-10 small-10 small-offset-1 cell">
                    <p>
                    <i class="fa fa-envelope"></i> kristi@uxlocal.com | <i class="fa fa-phone"></i> (773) 313-3731
                    </p>
                </div>
            </div>
        </footer>

    </body>
</html>
